html, body {
    height: 100%;
    margin: 0;
}

.full {
    width: 100%; /* Establece el ancho al máximo disponible */
    height: auto; /* Ajusta la altura automáticamente basada en el contenido */
    display: block; /* Asegura que el elemento se muestre como un bloque, ocupando toda la línea */
    overflow: visible;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-fluid {
    flex-grow: 1; /* Allow the container to fill the available space */

}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.card-header {
    background-color: #333;
    color: white;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

/* Adjustments for squares */
.square, .rectangle, .rectangleFULL, .tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
}

p{

}

.rc{
    width: 1000px;
    height: 442px;
}

.rectangle {
    /* Initial size */
    width: 210px;
    height: 150px;
    max-width: 100%;
    /* Flex properties for centering content */
    display: flex;
}

.rectangleFULL {
    width: 3390px;
    height: 100px;
    max-width: 100%;
}

.square {
    /* Initial size */
    width: 130px;
    height: 150px;
    /* Flex properties for centering content */
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-responsive {
    font-size: 18px; /* Tamaño predeterminado */
    color: white;

}

.btn-danger{
    background-color: #F44336;
}

@media (max-width: 768px) {
    .texto-responsive {
        font-size: 14px; /* Para tabletas y dispositivos más pequeños */
    }
}
@media (min-width: 782px) and (max-width: 1222px) {
    .texto-responsive {
        font-size: 11px; /* Para pantallas entre 782px y 1222px de ancho */
    }
}
@media (min-width: 782px) and (max-width: 1222px) {
    .rectangle {
        width: 330px;
        height: 100px;
    }
}

@media (min-width: 782px) and (max-width: 1368px) {
    .rectangle {
        width: 330px;
        height: 280px;
    }
}
@media (max-width: 1813px) {
    .square {
        width: 120px;
        height: 200px;
    }
    .texto-responsive {
        font-size: 15px; /* Para pantallas entre 782px y 1222px de ancho */
    }
    .rectangleFULL{
        width: 130px;
        height: 200px;
    }
    .rectangle {
        width: 130px;
        height: 200px;
    }
    .rc{
        height: 976px;
    }
}

@media (max-width: 1366px) {
    .square {
        width: 120px;
        height: 200px;
    }
    .texto-responsive {
        font-size: 15px; /* Para pantallas entre 782px y 1222px de ancho */
    }
    .rectangleFULL{
        width: 130px;
        height: 200px;
    }
    .rectangle {
        width: 130px;
        height: 200px;
    }
    .rc{
        height: 976px;
    }
}

@media (max-width: 913px) {
    .rectangle {
        width: 130px;
        height: 180px;
    }

}
@media (max-width: 1199px) {
    .square {
        width: 160px;
        height: 200px;
    }
    .texto-responsive {
        font-size: 15px; /* Para pantallas entre 782px y 1222px de ancho */
    }
    .rectangleFULL{
        width: 130px;
        height: 200px;
    }
    .rectangle {
        width: 170px;
        height: 200px;
    }
    .rc{
        height: 976px;
    }
}

@media (max-width: 913px) {
    .rectangle {
        width: 140px;
        height: 200px;
    }

}

/* Ajustes para pantallas menores a 740px */
@media (max-width: 740px) {
    .square {
        width: 128px;
        height: 140px;
    }
    .rectangle {
        width: 130px;
        height: 180px;
    }
}

/* Ajustes para pantallas menores a 720px */
@media (max-width: 720px) {
    .square {
        width: 95px;
        height: 105px;
    }
    .rectangle {
        width: 105px;
        height: 180px;
    }
}

/* Ajustes para pantallas menores a 653px */
@media (max-width: 653px) {
    .square {
        width: 112px;
        height: 125px;
    }
    .rectangle {
        width: 120px;
        height: 210px;
    }
}

/* Ajustes para pantallas menores a 430px */
@media (max-width: 430px) {
    .square {
        width: 110.5px; /* Promedio entre 60px y 65px, ajustado según la solicitud */
        height: 130.5px; /* Promedio entre 80px y 85px, ajustado según la solicitud */
    }
    .texto-responsive {
        font-size: 15px; /* P ra tabletas y dispositivos más pequeños */
    }
    .rectangle {
        width: 340px;
        height: 220px;
    }
}

/* Ajustes para pantallas menores a 390px */
@media (max-width: 390px) {
    .square {
        width: 60px;
        height: 85px;
    }
    h3{
        font-size: small;
    }
    .texto-responsive {
        font-size: 10px; /* Para tabletas y dispositivos más pequeños */
    }
    .rectangle {
        width: 330px;
        height: 150px;
    }
}

/* Ajustes para pantallas menores a 360px */
@media (max-width: 360px) {
    .square {
        width: 70px;
        height: 92px;
    }
    .rectangle {
        width: 380px;
        height: 150px;
    }
}
