html, body {
    height: 100%;
    margin: 0;
}

.full {
    width: 100%; /* Establece el ancho al máximo disponible */
    height: auto; /* Ajusta la altura automáticamente basada en el contenido */
    display: block; /* Asegura que el elemento se muestre como un bloque, ocupando toda la línea */
    overflow: visible;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-fluid {
    flex-grow: 1; /* Allow the container to fill the available space */
    padding: 0.5rem;
}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Adjustments for squares */
.square {
    width: 130px;
    height: 130px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.rectangle {
    width: 210px;
    height: 100px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rectangleFULL {
    width: 420px;
    height: 100px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tittle{
    align-items: center;
    justify-content: center;
    text-align: center;

}


@media (max-width: 1368px) {
    .square {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 1280px) {
    .square {
        width: 71px;
        height: 71px;
    }
}

@media (max-width: 1080px) {
    .square {
        width: 95px; /* Adjusted once for multiple similar ranges */
        height: 95px;
    }
}

@media (max-width: 980px) {
    .square {
        width: 86px;
        height: 86px;
    }
}

@media (max-width: 896px) {
    .square {
        width: 77px;
        height: 77px;
    }
}

@media (max-width: 844px) {
    .square {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 768px) {
    .square {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 740px) {
    .square {
        width: 105px;
        height: 105px;
    }
}

@media (max-width: 667px) {
    .square {
        width: 95px; /* Reuse this value for simplicity */
        height: 95px;
    }
}

@media (max-width: 430px) {
    .square {
        width: 76px;
        height: 76px;
    }
}

@media (max-width: 412px) {
    .square {
        width: 66px;
        height: 66px;
    }
}

@media (max-width: 360px) {
    .square {
        width: 58px;
        height: 58px;
    }
}

@media (max-width: 345px) {
    .square {
        width: 58px;
        height: 58px;
    }
}

@media (max-width: 280px) {
    .square {
        width: 55px;
        height: 55px;
    }
}



