html, body {
    height: 100%;
    margin: 0;
}

.full {
    width: 100%; /* Establece el ancho al máximo disponible */
    height: auto; /* Ajusta la altura automáticamente basada en el contenido */
    display: block; /* Asegura que el elemento se muestre como un bloque, ocupando toda la línea */
    overflow: visible;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-fluid {
    flex-grow: 1; /* Allow the container to fill the available space */
    padding: 0.5rem;
}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Adjustments for squares */
.square {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.square {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rectangle {
    width: 210px;
    height: 100px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rectangleFULL {
    width: 420px;
    height: 100px;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tittle{
    align-items: center;
    justify-content: center;
    text-align: center;

}


@media (max-width: 1366px) {
    .square {
        width: 83px;
        height: 83px;
    }

    @media (max-width: 1180px) {
        .square {
            width: 90px;
            height: 90px;
        }

        @media (max-width: 1024px) {
            .square {
                width: 95px;
                height: 95px;
            }

            @media (max-width: 915px) {
                .square {
                    width: 86px;
                    height: 86px;
                }
                @media (max-width: 896px) {
                    .square {
                        width: 84px;
                        height: 84px;
                    }
                    @media (max-width: 844px) {
                        .square {
                            width: 70px;
                            height: 70px;
                        }

                        @media (max-width: 820px) {
                            .square {
                                width: 70px;
                                height: 70px;
                            }

                            /* Responsive adjustments */
                            @media (max-width: 768px) {
                                .square {
                                    width: 60px;
                                    height: 60px;
                                }

                                @media (max-width: 412px) {
                                    .square {
                                        width: 75px;
                                        height: 75px;
                                    }
                                    @media (max-width: 360px) {
                                        .square {
                                            width: 63px;
                                            height: 63px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

