html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

.full {
    width: 100%; /* Establece el ancho al máximo disponible */
    height: auto; /* Ajusta la altura automáticamente basada en el contenido */
    display: block; /* Asegura que el elemento se muestre como un bloque, ocupando toda la línea */
    overflow: visible;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-fluid {
    flex-grow: 1; /* Allow the container to fill the available space */

}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.card-header {
    background-color: #04273D;
    color: white;
}

.card-body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

/* Adjustments for squares */
.square, .rectangle, .rectangleFULL, .tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
}


.rc{
    width: 1000px;
    height: 442px;
}

.rectangle {
    /* Initial size */
    width: 210px;
    height: 150px;
    max-width: 100%;
    /* Flex properties for centering content */
    display: flex;
}

.rectangleFULL {
    width: 210px;
    height: 150px;
    max-width: 100%;
}

.square {
    /* Initial size */
    width: 145px;
    height: 150px;
    /* Flex properties for centering content */
    display: flex;
    align-items: center;
    justify-content: center;
}

h5{
    font-size: 25px;
}

.texto-responsive {
    font-size: 18px; /* Tamaño predeterminado */
    color: white;

}

.sas{
    background-color: white
}

.sas2{
    background-color: #04273D;
    
}

.sas2ho{
    background-color: #04273D;
    
}

.sas2ho:hover{
    background-color: #256d99;
    
}

.rectangle, .rectangleFULL {
    padding: 10px; /* Adjust the padding as needed */
}

.boton{
    background-color: #FFBC00;
}
.btn-danger{
    background-color: #F44336;
}

@keyframes blinker {
    0%, 100% { background-color: rgb(255, 149, 149); }
    50% { background-color: red; }
  }
  
  .blink {
    animation: blinker 1s linear infinite;
  }
  

@media (max-width: 768px) {
    .texto-responsive {
        font-size: 14px; /* Para tabletas y dispositivos más pequeños */
    }
    h5{
        font-size: 20px;
    }
}
@media (min-width: 782px) and (max-width: 1222px) {
    .texto-responsive {
        font-size: 11px; /* Para pantallas entre 782px y 1222px de ancho */
    }
    h5{
        font-size: 20px;
    }
}
@media (min-width: 782px) and (max-width: 1222px) {
    .rectangle {
        width: 330px;
        height: 100px;
    }
}

@media (min-width: 782px) and (max-width: 1368px) {
    .rectangle {
        width: 330px;
        height: 280px;
    }
}
@media (max-width: 1813px) {
    .square {
        width: 90px;
        height: 110px;
    }
    .texto-responsive {
        font-size: 13px;
        width: auto;
        display: row; /* Para pantallas entre 782px y 1222px de ancho */
    }
    h5{
        font-size: 20px;
    }
    .rectangleFULL{
        width: 135px;
        height: 100px;
    }
    .rectangle {
        width: 135px;
        height: 100px;
    }
    .rc{
        height: 310px;
    }
}

@media (max-width: 1366px) {
    .square {
        width: 79px;
        height: 110px;
    }
    .texto-responsive {
        font-size: 11px;
        width: auto;
        height: auto;
        display: row; /* Para pantallas entre 782px y 1222px de ancho */
    }
    h5{
        font-size: 20px;
    }
    .rectangleFULL{
        width: auto;
        height: auto;
    }
    .rectangle {
        width: 105px;
        height: auto;
    }

    .rc{
        height: 310px;
    }
    .rc2{
        height: 300px;
    }
}
    

@media (max-width: 913px) {
    .rectangle {
        width: 140px;
        height: 180px;
    }

}
@media (max-width: 1199px) {
    .square {
        width: 100px;
        height: 100px;
    }
    .texto-responsive {
        font-size: 13px;
        width: auto;
        display: row; /* Para pantallas entre 782px y 1222px de ancho */
    }
    h5{
        font-size: 18px;
    }
    .rectangleFULL{
        width: 110px;
        height: 100px;
    }
    .rectangle {
        width: 140px;
        height: 100px;
    }

    .rc{
        height: 300px;
        width: 420px;
    }
    .rc2{
        height: 300px;
        width: 420px;
    }
}

@media (max-width: 913px) {
    .rectangle {
        width: 140px;
        height: 100px;
    }

}

/* Ajustes para pantallas menores a 740px */
@media (max-width: 740px) {
    .square {
        width: 80px;
        height: 120px;
    }
    .rectangle {
        width: 128px;
        height: 120px;
    }
    .rectangleFULL {
        width: 128px;
        height: 120px;
    }
    .rc{
        height: 370px;
        width: 320px;
    }
    .rc2{
        height: 370px;
        width: 43000px;
    }

}

/* Ajustes para pantallas menores a 720px */
@media (max-width: 720px) {
    .square {
        width: 100px;
        height: 110px;
    }
    .rectangle {
        width: 115px;
        height: 110px;
    }
    .texto-responsive {
        font-size: 12px;
        width: auto;
        display: row; /* Para pantallas entre 782px y 1222px de ancho */
    }
    h5{
        font-size: 18px;
    }
}

/* Ajustes para pantallas menores a 653px */
@media (max-width: 653px) {
    .square {
        width: 93px;
        height: 93px;
    }
    .rectangle {
        width: 120px;
        height: 105px;
    }
    .rectangleFULL {
        width: 120px;
        height: 105px;
    }
    .rc{
        height: 490px;
        width: 330px;
    }
    .rc2{
        height: 370px;
        width: 300px;
    }
}

/* Ajustes para pantallas menores a 430px */
@media (max-width: 430px) {
    .square {
        width: 92px; /* Promedio entre 60px y 65px, ajustado según la solicitud */
        height: 90px; /* Promedio entre 80px y 85px, ajustado según la solicitud */
    }
    .texto-responsive {
        font-size: 12px; /* P ra tabletas y dispositivos más pequeños */
    }
    h5{
        font-size: 17px;
    }
    .rectangle {
        width: 340px;
        height: 120px;
    }
    .rc{
        width: 400px;
        height: 545px;
    }
}

/* Ajustes para pantallas menores a 390px */
@media (max-width: 390px) {
    .square {
        width: 80px;
        height: 85px;
    }
    h3{
        font-size: x-small;
    }
    .texto-responsive {
        font-size: 10px; /* Para tabletas y dispositivos más pequeños */
    }
    h5{
        font-size: 16px;
    }
    .rectangle {
        width: 330px;
        height: 150px;
    }
}

/* Ajustes para pantallas menores a 360px */
@media (max-width: 360px) {
    .square {
        width: 70px;
        height: 92px;
    }
    .rectangle {
        width: 380px;
        height: 150px;
    }
}
