html, body {
    height: 100%;
    margin: 0;
}

.full {
    width: 100%; /* Establece el ancho al máximo disponible */
    height: auto; /* Ajusta la altura automáticamente basada en el contenido */
    display: block; /* Asegura que el elemento se muestre como un bloque, ocupando toda la línea */
    overflow: visible;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-fluid {
    flex-grow: 1; /* Allow the container to fill the available space */

}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.card-header {
    background-color: #333;
    color: white;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

/* Adjustments for squares */
.square, .rectangle, .rectangleFULL, .tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
}

p{

}

.rectangle {
    /* Initial size */
    width: 230px;
    height: 100px;
    max-width: 100%;
    /* Flex properties for centering content */
    display: flex;
}

.rectangleFULL {
    width: 390px;
    height: 100px;
    max-width: 100%;
}

.square {
    /* Initial size */
    width: 130px;
    height: 140px;
    /* Flex properties for centering content */
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-responsive {
    font-size: 18px; /* Tamaño predeterminado */
}

@media (max-width: 768px) {
    .texto-responsive {
        font-size: 14px; /* Para tabletas y dispositivos más pequeños */
    }
}
@media (min-width: 782px) and (max-width: 1222px) {
    .texto-responsive {
        font-size: 11px; /* Para pantallas entre 782px y 1222px de ancho */
    }
}
@media (min-width: 782px) and (max-width: 1222px) {
    .rectangle {
        width: 330px;
        height: 100px;
    }
}

@media (min-width: 782px) and (max-width: 1368px) {
    .rectangle {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 1368px) {
    .square {
        width: 110px;
        height: 140px;
        }

    @media (max-width: 1366px) {
        .square {
            width: 110px;
            height: 140px;
        }
            @media (max-width: 740px) {
                .square {
                    width: 98px;
                    height: 108px;
                }
                @media (max-width: 720px) {
                    .square {
                        width: 95px;
                        height: 105px;
                    }
                    @media (max-width: 653px) {
                        .square {
                            width: 75px;
                            height: 95px;
                        }
                        @media (max-width: 430px) {
                            .square {
                                width: 60px;
                                height: 80px;
                            }
                            @media (max-width: 414px) {
                                .square {
                                    width: 65px;
                                    height: 85px;
                                }
                                @media (max-width: 390px) {
                                    .square {
                                        width: 50px;
                                        height: 70px;
                                    }
                                    @media (max-width: 360px) {
                                        .square {
                                            width: 52px;
                                            height: 72px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
